
         .container {
                max-width: auto;
                height: 500px;
                display: flex;
                justify-content: space-around;
            }
            .divcom {
                border: black solid 2px;
                border-radius: 10px;
                align-items: center;
                width: auto;
                height: 300px;
                margin: 20px;
        }
        nav {
            display:flex;
            justify-content: space-evenly
        }
        nav a{
            text-decoration: none;
        }
